<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <WebSite name='NewEgg'>
    <Page type="RegularPage">
      <Tag name="productWrap" parent="" value="//div[@class='product-wrap']"/>
      <Tag name="ItemName" parent="" value="//li[@class='is-current']"/>
      <Tag name="ProductTitle" parent="ProductWrap" value="//h1[@class='product-title']"/>
      <Tag name="ProductInventory" parent="ProductWrap" value="//div[@class='product-inventory']"/>
      <Tag name="ProductPromo" parent="ProductWrap" value="//h2[@class='product-promo']"/>
      <Tag name="ProductPrice" parent="ProductWrap" value="//div[@class='price-current']"/>
    </Page>
    <Page type="ComboPage">
      <Tag name="productWrap" parent="" value="//div[@class='grpArticle']"/>
      <Tag name="ProductDescription" parent="" value="//div[contains(@class, 'grpDesc')]"/>
      <Tag name="ProductTitle" parent="ProductDescription" value="//span[@itemprop='name']"/>
      <Tag name="ProductInventory" parent="ProductWrap" value="//p[@class='note']"/>
      <Tag name="ProductPromo" parent="ProductWrap" value="//h2[@class='product-promo']"/>
      <Tag name="ProductPricing" parent="ProductWrap" value="//div[@class='grpPricing']"/>
      <Tag name="ProductPrice" parent="ProductPricing" value="//div[@id='singleFinalPrice']"/>
    </Page>
    <Links>
      <Link>https://www.newegg.com/global/il-en/Product/ComboDealDetails?ItemList=Combo.4215881</link>
      <Link>https://www.newegg.com/global/il-en/gigabyte-geforce-rtx-3060-ti-gv-n306teagle-8gd/p/N82E16814932379?Item=N82E16814932379&amp;quicklink=true</link>
      <Link>https://www.newegg.com/global/il-en/gigabyte-geforce-rtx-3070-gv-n3070eagle-8gd/p/N82E16814932344?Item=N82E16814932344&amp;quicklink=true</link>
      <Link>https://www.newegg.com/global/il-en/gigabyte-geforce-rtx-3060-ti-gv-n306teagle-oc-8gd/p/N82E16814932378?Item=N82E16814932378&amp;quicklink=true</link>
      <Link>https://www.newegg.com/global/il-en/gigabyte-radeon-rx-6800-gv-r68-16gc-b/p/N82E16814932374?Item=N82E16814932374&amp;quicklink=true</link>
      <Link>https://www.newegg.com/global/il-en/Product/ComboDealDetails?ItemList=Combo.4228488</link>
      <Link>https://www.newegg.com/global/il-en/Product/ComboDealDetails?ItemList=Combo.4215884</link>
      <Link>https://www.newegg.com/global/il-en/Product/ComboDealDetails?ItemList=Combo.4228489</link>
      <Link>https://www.newegg.com/global/il-en/Product/ComboDealDetails?ItemList=Combo.4215885</link>
      <Link>https://www.newegg.com/global/il-en/Product/ComboDealDetails?ItemList=Combo.4215330</link>
      <Link>https://www.newegg.com/global/il-en/gigabyte-radeon-rx-6800-xt-gv-r68xt-16gc-b/p/N82E16814932373?Item=N82E16814932373</link>
      <Link>https://www.newegg.com/global/il-en/Product/ComboDealDetails?ItemList=Combo.4215684</link>
      <Link>https://www.newegg.com/global/il-en/Product/ComboDealDetails?ItemList=Combo.4215683</link>
      <Link>https://www.newegg.com/global/il-en/Product/ComboDealDetails?ItemList=Combo.4215685</link>
      <Link>https://www.newegg.com/global/il-en/Product/ComboDealDetails?ItemList=Combo.4215687</link>
      <Link>https://www.newegg.com/global/il-en/gigabyte-radeon-rx-6800-gv-r68gaming-oc-16gd/p/N82E16814932382?Item=N82E16814932382</link>
      <Link>https://www.newegg.com/global/il-en/gigabyte-radeon-rx-6800-gv-r68aorus-m-16gd/p/N82E16814932393?Item=N82E16814932393</link>
      <Link>https://www.newegg.com/global/il-en/Product/ComboDealDetails?ItemList=Combo.4215889</link>
      <Link>https://www.newegg.com/global/il-en/gigabyte-radeon-rx-6800-xt-gv-r68xtaorus-m-16gd/p/N82E16814932395?Item=N82E16814932395</link>
      <Link>https://www.newegg.com/global/il-en/gigabyte-radeon-rx-6800-xt-gv-r68xtaorus-m-16gc/p/N82E16814932392?Item=N82E16814932392</link>
      <Link>https://www.newegg.com/global/il-en/Product/ComboDealDetails?ItemList=Combo.4215331</link>
      <Link>https://www.newegg.com/global/il-en/Product/ComboDealDetails?ItemList=Combo.4215332</link>
      <Link>https://www.newegg.com/global/il-en/Product/ComboDealDetails?ItemList=Combo.4230574</link>
      <Link>https://www.newegg.com/global/il-en/Product/ComboDealDetails?ItemList=Combo.4228533</link>
      <Link>https://www.newegg.com/global/il-en/Product/ComboDealDetails?ItemList=Combo.4215334</link>
      <Link>https://www.newegg.com/global/il-en/Product/ComboDealDetails?ItemList=Combo.4230576</link>
    </Links>
  </WebSite>
  <WebSite name='Amazon'>
  </WebSite>
</Config>
